<div id="pantry-admin" class="row">
	<section class="col-md-6">
		<h3>
			Items
		</h3>

		<div
			class="add-record"
			ng-class="{'has-error': $ctrl.invalid.newItem}"
		>
			<input
				ng-model="newItem"
				ng-change="$ctrl.validate(newItem, 'items')"
				type="text"
				class="form-control"
			>
			<button
				ng-click="$ctrl.addItem(newItem)"
				ng-disabled="!newItem || $ctrl.invalid.newItem"
				type="button" class="btn btn-success" aria-label="Add item"
			>
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>
		</div>

		<ul>
			<li
				ng-repeat="item in $ctrl.items"
			>
				{{item.name}}
				<span
					class="glyphicon glyphicon-remove-circle cursor-pointer text-danger"
					aria-hidden="true"
					ng-click="$ctrl.removeItem(item._id)"
				></span>
			</li>
		</ul>

	</section>

	<section class="col-md-6">
		<h3>
			Users
		</h3>

		<div
			class="add-record"
			ng-class="{'has-error': $ctrl.invalid.newUser}"
		>
			<input
				ng-model="newUser"
				ng-change="$ctrl.validate(newUser, 'users')"
				type="text"
				class="form-control"
			>
			<button
				ng-click="$ctrl.addUser(newUser)"
				ng-disabled="!newUser || $ctrl.invalid.newUser"
				type="button" class="btn btn-success" aria-label="Add item"
			>
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>
		</div>

		<ul>
			<li
				ng-repeat="user in $ctrl.users"
			>
				{{user.name}}
				<span
					class="glyphicon glyphicon-remove-circle cursor-pointer text-danger"
					aria-hidden="true"
					ng-click="$ctrl.removeUser(user._id)"
				></span>
			</li>
		</ul>

	</section>
</div>