#welcome {
	margin-top: 1.5em;

	h2, h3 {
		text-align: center;

		span {
			position: relative;
			top: 0.2em;
			color: red;
			opacity: 0.7;
		}
	}
}

#pantry-selection {
	margin-top: 3em;

	ul {
		list-style: none;

		label {
			font-size: 1.5em;
			cursor: pointer;

			input {
				cursor: inherit	;
			}
		}
	}
}

#btn-submit {
	width: 30%;
	margin-left: 35%;
	margin-top: 1.5em;

	.btn-user {
		width: 85%;
	}

	.dropdown-toggle {
		width: 15%
	}
}